*{
	margin: 0;
	padding: 0;
}
.navbar{
    border: none;
    background-color: #223843;
    color: #292b2c;
}

body{
	background-color: #1a1918;
	color: #76899c;
}

.glyphicon{
	font-size: 30px;
	color:#080808; 
}

.center{
	width: 90%;
	background-color: #181716;
}

.container{
	background-color: #c0bcbb;
}

.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}

#myNavbar ul li a {
	color: #eff1f3;
}

.navbar-brand{
    font-size: 30px;
    color: #eff1f3;
}