body {
	padding-bottom: 30px;
  }
  
  /** Navegação **/
  #navigation a.navbar-brand {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
  }
  
  #navbar a:hover, #navbar a:active {
	background-color: #3b3b3b;
  }
  #navbar a {
	color: #fff;
  }
  
  /** Conteudo **/
  #content section {
	background-color: #626262;
	margin-bottom: 20px;
  }
  
